#logo {
	display: block;
	width: 100px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

#date, #clockinb, #clockoutb, #latepunchstartdate, #latepunchenddate {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#start-time-selection {
	width: 339px;
	margin-left: auto;
	margin-right: auto;
}

#submit, #clockin, #clockout, #date-input {
	width: 337px;
	margin-left: auto;
	margin-right: auto;
}

#header, #navbar {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

#latepunch {
	overflow-x: hidden;
	overflow-y: auto;
}

.hour {
	display: inline-block;
	width: 85px;
	margin-left: 12px;
}

.minute {
	display: inline-block;
	width: 100px;
}

.time-of-day {
	display: inline-block;
	width: 85px;
}